body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  
}

.event-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  padding-top: 100px;
}

.event-header {
  background-color: #0d1117;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.event-title {
  font-size: 32px;
  font-weight: bold;
  
}

.event-date {
  font-size: 18px;
  color: #facc15;
}

.event-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tickets-section, .total-section {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tickets-section {
  width: 65%;
}

.ticket-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  
}
.ticket-info {
  flex-grow: 1;
}

.ticket-type {
  font-weight: bold;
}

.ticket-price {
  color: #555;
}

.ticket-actions {
  display: flex;
  align-items: center;
}

.quantity-btn {
  background-color: #0f0e3d;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.total-section {
  width: 30%;
}

.total-price {
  font-size: 20px;
  font-weight: bold;
  color: #0f0e3d;
}

.purchase-button {
  width: 100%;
  background-color: #facc15;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.event-image{
  height:400px;
  border-radius:10px;
  margin-top:20px;
}

.event-description{
  font-weight: bold;
  
}

.phone-number{
  background-color: #bfb0b0;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  outline: none;
}